<div id="videos">
    <div id="subscriber"></div>
    <div id="publisher"></div>
</div>
<div id="buttonholder">
    <div id="buttons">
        <button type="button" id="start" onClick="javascript:startArchive()" class="btn btn-danger">Start Recording</button>
        <button type="button" id="stop" onClick="javascript:stopArchive()" class="btn btn-danger">Stop Recording</button>
        <button type="button" id="view" onClick="javascript:viewArchive()" class="btn btn-danger" disabled>View Archive</button>
    </div>
</div>
<% %w(sampleconfig.js opentok_app.js).each do |file| %>
  <%= javascript_include_tag file %>
<% end -%>

<script type="text/javascript">
  $(document).ready(function(){
    $("#start").click(function(){
      startArchive();
    })
    $("#stop").click(function(){
      stopArchive();
    })
    $("#view").click(function(){
      viewArchive();
    })
  });

</script>

